@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

html {
  color-scheme: light;
  scroll-behavior: smooth;
  width: 100%;
}

body {
  width: 100%;
  overflow-x: hidden;
  background: #ffffff;
  color: #171717;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

.clip-path-polygon {
  clip-path: polygon(30% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  display: inline-block;
  min-width: max-content;
  animation: marquee 20s linear infinite;
}

@keyframes servicesScroll {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

.services-slider {
  animation: servicesScroll 30s linear infinite;
}

.services-slider:hover {
  animation-play-state: paused;
}